.heroContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-top: 15rem;
    margin-bottom: 10rem;
}

.imgContainer {
    width: 17%;
    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer img {
    width: 100%;
}

.heroContentContainer {
    width: 50%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.subContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.subContent h3 {
    font-size: var(--sec-fs);
    color: var(--sec-color);
    font-weight: 400;
}

.heroBtn {
    padding: 0.8rem 1.5rem;
    border: 1px solid var(--sec-color);
    border-radius: 50px;
    background: var(--light-color);
    color: var(--sec-color);
    font-size: var(--small-fs);
    font-weight: 500;
    cursor: pointer;
    margin-top: 1rem;
    transition: all 0.3s;
}

.heroBtn:hover {
    background-color: var(--sec-color);
    color: var(--light-color);
    border: 1px solid var(--light-color);
}

.subjectsGraphicsContainer {
    width: 80%;
    margin: 10rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
}

.graphicsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.graphicsContainer img {
    width: 8%;
}

.graphicsContainer h2 {
    color: var(--sec-color);
}

/* Media Queries */

@media (max-width: 1200px) {
    .heroContainer {
        flex-direction: column;
        gap: 3rem;
        margin-top: 10rem;
        margin-bottom: 5rem;
    }

    .heroContainer .imgContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heroContainer .imgContainer img {
        width: 70%;
    }

    .heroContentContainer {
        width: 100%;
        align-items: center;
        text-align: center;
        padding-inline: 2rem;
    }

    .heroContentContainer h1 {
        font-size: var(--big-fs);
    }

    .subContentContainer {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .subContent {
        margin-inline: auto;
    }

    .contactContainer {
        width: 85%;
    }

    .contactContainer img {
        display: none;
    }

    .contactContainer a {
        width: 100%;
    }

    .heroBtn {
        width: 100%;
        padding: 1.2rem 0;
    }
}

@media (max-width: 768px) {
    .heroContainer {
        flex-direction: column;
        gap: 2rem;
    }

    .imgContainer {
        width: 100%;
        min-width: auto;
    }

    .heroContentContainer {
        align-items: center;
        text-align: center;
    }
}