@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.sidebarContainer {
    position: sticky;
    width: max-content;
    height: 100vh;
    background-color: var(--accent-color);
    padding: 1.5rem 0 0 4rem;
    animation: slideInLeft 0.3s ease-in-out;
}

.logoContainer {
    margin-bottom: 3rem;
}

.sidebarLinks {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#homeLink,
#logoutLink {
    display: none;
}

#logoutLink {
    margin-bottom: 2rem;
}

#logoutLink .sidebarIcon,
#logoutLink p {
    color: var(--sec-color);
}

.sidebarLink {
    position: relative;
    padding-right: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.sidebarLink .sidebarIcon {
    width: 1.5rem;
    color: var(--grey-color);
    transition: color 0.3s;
}

.sidebarLink p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--grey-color);
    white-space: nowrap;
    transition: color 0.3s;
}

.sidebarLink:hover .sidebarIcon,
.sidebarLink:hover p {
    color: var(--sec-color);
}

a.active .sidebarLink .sidebarIcon,
a.active .sidebarLink p {
    color: var(--dark-color);
}

a.active .sidebarLink::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 3px;
    height: 100%;
    background-color: var(--sec-color);
    border-radius: 20px;
}

.sidebarButton {
    display: none;
    background: none;
    border: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

/* Media Queries */

@media (max-width: 1200px) {
    .sidebarContainer {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        height: 100vh;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1rem;
        box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.1);
    }

    #homeLink,
    #logoutLink {
        display: flex;
    }

    .sidebarLinks {
        margin-top: 3.5rem;
    }

    .logoContainer {
        display: none;
    }

    .sidebarButton {
        display: block;
    }
}