h1 {
    font-size: var(--large-fs);
    color: var(--sec-color);
    font-weight: 500;
}

h2 {
    font-size: var(--sec-fs);
    color: var(--sec-color);
    font-weight: 500;
}

h3 {
    font-size: var(--main-fs);
    color: var(--sec-color);
    font-weight: 300;
}

a {
    text-decoration: none;
}

p,
li {
    font-size: var(--main-fs);
    color: var(--sec-color);
    font-weight: 400;
}

.center {
    margin: auto;
}